.contactUs {
    font-size: 2em; 
    text-align: center;
    font-family: fantasy;
    margin-bottom: 2em;
    color: grey;
}

.contact {
    text-align: center;
    color: grey;
}

.message {
    font-size: 1em; 
    font-family: fantasy;
    margin: 2em;
}

textarea {
    padding: 30px 25px;
    width: 35%;
}

.inputs {
    padding: 15px 10px;
    margin: 20px 0px;
    display: flex;
    width: 50%;
    margin-left: 18em;
}

@media(max-width: 540px) {
    .inputs {
        width: 70%;   
        margin-left: 4em;
    }
}

@media(min-width: 541px) {
    .inputs {
        width: 70%;   
        margin-left: 8em;
    }
}

.contactInput {
    margin-left: 18%;
    margin-right: 18%;
}

/* work on the contact message view size for better views */


@media(max-width: 540px) {
    .contactInput {
        margin-left: 5%;
        margin-right: 10%;
    } 
}

@media(min-width: 541px) {
    .contactInput {
        margin-left: 18%;
        margin-right: 18%;
    } 
}

.button1 {
    display: flex;
    margin-left: 50em;
    margin-top: 20px;
    width: 10%;
    text-align: center;
    color: green;
    cursor: pointer;
}

/* input for small adjustment screen */

@media(max-width: 375px) {
    /* .inputs {
        width: 57%;
        margin-left: 60px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 414px) {
    /* .inputs {
        width: 57%;
        margin-left: 82px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 17em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 390px) {
    /* .inputs {
        width: 57%;
        margin-left: 79px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 393px) {
    /* .inputs {
        width: 57%;
        margin-left: 80px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 430px) {
    /* .inputs {
        width: 57%;
        margin-left: 80px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 460px) {
    /* .inputs {
        width: 57%;
        margin-left: 85px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 432px) {
    /* .inputs {
        width: 57%;
        margin-left: 82px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 422px) {
    /* .inputs {
        width: 57%;
        margin-left: 82px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 360px) {
    /* .inputs {
        width: 57%;
        margin-left: 70px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 418px) {
    /* .inputs {
        width: 57%;
        margin-left: 78px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 280px) {
    /* .inputs {
        width: 57%;
        margin-left: 55px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 7em;
        margin-top: 20px;
        width: 35%;
        text-align: center;
    }
}

/* for bigger screen size */

@media(min-width: 540px) {
    /* .inputs {
        width: 57%;
        margin-left: 104px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 15em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media screen and (min-width: 541px) {
    /* .inputs {
        width: 57%;
        margin-left: 150px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media screen and (min-width: 912) {
    /* .inputs {
        width: 57%;
        margin-left: 200px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    /* .inputs {
        width: 57%;
        margin-left: 210px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media screen and (min-width: 1280px) {
    /* .inputs {
        width: 57%;
        margin-left: 220px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 10em;
        margin-top: 20px;
        width: 25%;
        text-align: center;
    }
}

@media screen and (min-width: 820px) {
    /* .inputs {
        width: 57%;
        margin-left: 190px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 2em;
        margin-top: 20px;
        padding: 16px 16px;
        width: 15%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    /* .inputs {
        width: 57%;
        margin-left: 220px;
        padding: 10px 8px;
    } */
    .button1 {
        display: flex;
        margin-left: 25em;
        margin-top: 20px;
        width: 12%;
        text-align: center;
    }
}