.registerButton {
    cursor: pointer; 
    padding: 16px 20px; 
    margin-top: 10px;
    color: #fff;
    background-color: green;
    transition: all 1s;
}

.registerButton :hover {
    background-color: rgb(241, 158, 4);
    transform: scale(1.1);
}

.passwordText {
    font-size: 13px;
    color: rgb(241, 158, 4);
}

.inputs {
    width: 50%;
    padding: 15px 10px;
    margin: 20px 0px;
    display: flex;
    margin-left: 25em;
}

.inputs:hover {
    border: 1px solid rgb(238, 155, 1);
    border-radius: 2em;
}

/* input for small adjustment screen */

@media(max-width: 375px) {
    .inputs {
        width: 57%;
        margin-left: 60px;
        padding: 10px 8px;
    }
}

@media(max-width: 414px) {
    .inputs {
        width: 57%;
        margin-left: 82px;
        padding: 10px 8px;
    }
}

@media(max-width: 390px) {
    .inputs {
        width: 57%;
        margin-left: 79px;
        padding: 10px 8px;
    }
}

@media(max-width: 393px) {
    .inputs {
        width: 57%;
        margin-left: 80px;
        padding: 10px 8px;
    }
}

@media(max-width: 430px) {
    .inputs {
        width: 57%;
        margin-left: 80px;
        padding: 10px 8px;
    }
}

@media(max-width: 460px) {
    .inputs {
        width: 57%;
        margin-left: 85px;
        padding: 10px 8px;
    }
}

@media(max-width: 432px) {
    .inputs {
        width: 57%;
        margin-left: 82px;
        padding: 10px 8px;
    }
}

@media(max-width: 422px) {
    .inputs {
        width: 57%;
        margin-left: 82px;
        padding: 10px 8px;
    }
}

@media(max-width: 360px) {
    .inputs {
        width: 57%;
        margin-left: 70px;
        padding: 10px 8px;
    }
}

@media(max-width: 418px) {
    .inputs {
        width: 57%;
        margin-left: 78px;
        padding: 10px 8px;
    }
}

@media(max-width: 280px) {
    .inputs {
        width: 57%;
        margin-left: 55px;
        padding: 10px 8px;
    }
}

/* for bigger screen size */

@media(min-width: 540px) {
    .inputs {
        width: 57%;
        margin-left: 104px;
        padding: 10px 8px;
    }
}

@media screen and (min-width: 541px) {
    .inputs {
        width: 57%;
        margin-left: 150px;
        padding: 10px 8px;
    }
}

@media screen and (min-width: 912) {
    .inputs {
        width: 57%;
        margin-left: 200px;
        padding: 10px 8px;
    }
}

@media screen and (min-width: 1024px) {
    .inputs {
        width: 57%;
        margin-left: 210px;
        padding: 10px 8px;
    }
}

@media screen and (min-width: 1280px) {
    .inputs {
        width: 57%;
        margin-left: 220px;
        padding: 10px 8px;
    }
    .sign {
        text-align: center;
        margin-left: 10%;
    }
}

/* 
@media(min-width: 1024px) {
    .inputs {
        width: 57%;
        margin-left: 200px;
        padding: 10px 8px;
    }
}

@media(min-width: 912px) {
    .inputs {
        width: 57%;
        margin-left: 175px;
        padding: 10px 8px;
    }
}

@media(min-width: 540px) {
    .inputs {
        width: 57%;
        margin-left: 108px;
        padding: 10px 8px;
    }
}

@media(min-width: 768px) {
    .inputs {
        width: 57%;
        margin-left: 150px;
        padding: 10px 8px;
    }
}

@media(min-width: 820px) {
    .inputs {
        width: 57%;
        margin-left: 170px;
        padding: 10px 8px;
    }
}

@media(min-width: 992px) {
    .inputs {
        width: 57%;
        margin-left: 185px;
        padding: 10px 8px;
    }
} */